.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01589d;
    .content {
        min-height: 30rem;
        padding: 4rem 2rem;
        display: block;

        img {
            width: 38rem;
            height: 12rem;
        }
        .linkContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 6rem;

            a {
                font-size: 2rem;
                font-weight: 700;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
