.mainContainer {
    display: flex;
    justify-content: center;
    background-color: #01589d;
    min-height: 50rem;

    overflow-y: hidden;
    .content {
        display: block;

        .linkContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-size: 2rem;
                font-weight: 700;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
@media only screen and (min-width: 360px) {
    .mainContainer {
        min-height: 53rem;
    }
}

@media only screen and (min-width: 414px) {
    .mainContainer {
        min-height: 56rem;
    }
}
@media only screen and (min-width: 1280px) {
    .mainContainer {
        min-height: 720px;
    }
}
@media only screen and (min-width: 1366px) {
    .mainContainer {
        min-height: 40rem;
    }
}
@media only screen and (min-width: 1440px) {
    .mainContainer {
        min-height: 900px;
    }
}

@media only screen and (min-width: 1536px) {
    .mainContainer {
        min-height: 60rem;
    }
}

@media only screen and (min-width: 1920px) {
    .mainContainer {
        min-height: 1080px;
    }
}
