.ulRows {
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        text-align: center;
        position: relative;

        li {
            padding: 0.25rem;
            border-top: 2px solid #4d8aba;
        }

        .liName {
            width: 30%;
        }
        .liQuatity {
            width: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: 600;

            .tdPlus {
                width: 1rem;
                height: 1rem;
                border: none;
                border-radius: 20px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: transform 0.3s;
                svg {
                    color: #319e09;
                }
                &:hover {
                    background-color: #319e09;
                    svg {
                        color: white;
                    }
                }
            }

            .tdSubtract {
                width: 1rem;
                height: 1rem;
                border: none;
                border-radius: 20px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: 0.3s;
                svg {
                    color: #9e1611;
                }
                &:hover {
                    background-color: #9e1611;
                    svg {
                        color: white;
                    }
                }
            }
        }
        .liValue {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
        }

        .liEditDelete {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 25%;
            position: relative;

            .buttonEdit {
                display: flex;
                align-items: center;
                background-color: white;
                border: none;
                cursor: pointer;
                color: #676767;

                &:hover {
                    color: #121212;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 1.25rem;
                    height: 2px;
                    border-radius: 4px;
                    background-color: #00467d;
                    bottom: 3px;
                    left: 0.75rem;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform 0.3s ease-in-out;
                }
                &:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
            .buttonDelete {
                display: flex;
                align-items: center;
                background-color: white;
                color: #676767;
                border: none;
                cursor: pointer;
                &:hover {
                    color: #121212;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 1.25rem;
                    height: 2px;
                    border-radius: 4px;
                    background-color: #003864;
                    bottom: 3px;
                    left: 3.1rem;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform 0.3s ease-in-out;
                }
                &:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }
    }
}
@media only screen and (min-width: 390px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 0.75rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 3.3rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 414px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 0.75rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 3.5rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 500px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 1.25rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 4.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 700px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 1.75rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 6rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 800px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 1.75rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 6rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 900px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.25rem;
                        left: 2rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.25rem;
                        left: 7rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1000px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.25rem;
                        left: 2rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.25rem;
                        left: 6.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 2rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 7rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1366px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 2rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 7.3rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 2.75rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 9.5rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1536px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 3rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 10.2rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1920px) {
    .ulRows {
        ul {
            .liEditDelete {
                .buttonEdit {
                    &::before {
                        width: 1.5rem;
                        left: 3rem;
                    }
                }
                .buttonDelete {
                    &::before {
                        width: 1.5rem;
                        left: 10.5rem;
                    }
                }
            }
        }
    }
}
