.mainContainer {
    height: 35rem;
    display: flex;
    justify-content: center;

    .content {
        width: 90%;
        display: flex;
        justify-content: center;

        .wrapper {
            position: relative;

            .inputContainer {
                padding: 2rem 0rem;
                width: 35rem;
                height: auto;
                display: flex;
                justify-content: center;
            }

            .tableContainer {
                width: 37rem;
                height: 22rem;
                padding-right: 0.5rem;
                overflow-x: hidden;
                overflow-y: auto;

                // &::after {
                //     content: "";
                //     position: absolute;
                //     bottom: 80px;
                //     left: 0;
                //     width: 98%;
                //     height: 10px;
                //     z-index: 3;
                //     box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.2);
                // }

                .tableWrapper {
                    position: relative;

                    border: 2px solid #00467d;
                    border-top: none;
                    border-radius: 5px;
                    width: 100%;

                    .ul {
                        display: flex;
                        justify-content: center;
                        list-style-type: none;
                        position: sticky;
                        top: 0px;
                        z-index: 3;
                        border-top: 2px solid #00467d;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;

                        li {
                            padding: 0.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            font-weight: 600;
                            background-color: azure;
                            text-align: center;
                        }

                        .liName {
                            width: 35%;
                        }
                        .liQuatity {
                            width: 20%;
                        }
                        .liValue {
                            width: 20%;
                        }
                        .liController {
                            width: 20%;
                            font-size: small;
                        }
                        .liEditDelete {
                            display: flex;
                            justify-content: space-around;
                            width: 25%;
                            font-size: small;
                        }
                    }
                }

                /* Adicione sombras para criar o efeito visual */
            }
        }
    }
}
